/*==============================================================================================
									Theme Global Elements										
==============================================================================================*/
.tg-haslayout {
	width:100%;
	float:left;
}
.tg-sectionspace {padding: 80px 0;}
.tg-locationmap {
	width: 100%;
	float: left;
	height: 500px;
}
.tg-btn-sm {
	padding: 0 20px;
	line-height: 30px;
}
.tg-btn {
	color: #666;
	padding: 0 50px;
	background: #fff;
	position:relative;
	text-align:center;
	border: 2px solid;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	font:800 16px/46px 'Microsoft JhengHei', Arial, Helvetica, sans-serif;
}
.tg-btnwhite{
	height: 60px;
	padding: 0 25px;
	line-height: 56px;
	color: #fff !important;
	background: rgba(0,0,0,0.30);
	border-color: #fff !important;
}
.tg-btnroundcorner{
	border: 0;
	line-height: 50px;
	border-radius: 5px;
}
.tg-btnfullround{border-radius:50px;}
.tg-btn:hover {color:#fff;}
.tg-btnactive {color:#fff !important;}
.tg-btnwhite:hover{
	color: #0f0f0f !important;
	background: #fff !important;
}
.tg-btn-lg { width: 100%;}
.tg-socialicons {
	overflow: hidden;
	list-style: none;
	text-align:center;
	line-height: 34px;
}
.tg-socialicons li {
	float: left;
	padding: 0 4px;
	line-height: inherit;
	list-style-type: none;
}
.tg-socialicons li a {
	width: 34px;
	height: 34px;
	color: #fff;
	display:block;
	background:#000;
	overflow:hidden;
	font-size: 13px;
	line-height: 34px;
	position:relative;
	text-align: center;
	border-radius: 34px;
	text-transform:capitalize;
}
.tg-inputwithicon.tg-facebook .tg-icon,
.tg-checkbox.tg-facebook,
li.tg-facebook a { background:#3b5999; }
.tg-inputwithicon.tg-twitter .tg-icon,
.tg-checkbox.tg-twitter,
li.tg-twitter a { background:#55acee; }
.tg-inputwithicon.tg-linkedin .tg-icon,
.tg-checkbox.tg-linkedin,
li.tg-linkedin a { background:#0077B5; }
.tg-inputwithicon.tg-skype .tg-icon,
.tg-checkbox.tg-skype,
li.tg-skype a { background:#00aff0; }
.tg-checkbox.tg-dropbox,
li.tg-dropbox a { background:#007ee5; }
.tg-checkbox.tg-vimeo,
li.tg-vimeo a { background:#1ab7ea; }
.tg-checkbox.tg-tumblr,
li.tg-tumblr a { background:#34465d; }
.tg-checkbox.tg-yahoo,
li.tg-yahoo a { background:#410093; }
.tg-inputwithicon.tg-googleplus .tg-icon,
.tg-checkbox.tg-googleplus,
li.tg-googleplus a { background:#dd4b39; }
.tg-inputwithicon.tg-pinterestp .tg-icon,
.tg-checkbox.tg-pinterestp,
li.tg-pinterestp a { background:#bd081c; }
.tg-checkbox.tg-youtube,
li.tg-youtube a { background:#cd201f; }
.tg-checkbox.tg-stumbleupon,
li.tg-stumbleupon a { background:#eb4924; }
.tg-checkbox.tg-reddit,
li.tg-reddit a { background:#ff5700; }
.tg-checkbox.tg-quora,
li.tg-quora a { background:#b92b27; }
.tg-checkbox.tg-yelp,
li.tg-yelp a { background:#af0606; }
.tg-checkbox.tg-soundcloud,
li.tg-soundcloud a { background:#ff3300; }
.tg-checkbox.tg-whatsapp,
li.tg-whatsapp a { background:#25d366; }
.tg-checkbox.tg-wechat,
li.tg-wechat a { background:#09b83e; }
.tg-checkbox.tg-instagram,
li.tg-instagram a { background:#e4405f; }
.tg-checkbox.tg-dribbble,
li.tg-dribbble a { background:#ea4c89; }
.tg-checkbox.tg-flickr,
li.tg-flickr a { background:#ff0084; }
.tg-checkbox.tg-rss,
li.tg-rss a { background:#ff6600; }
.tg-socialiconsborder li.tg-facebook a {
	color: #3b5999;
	border: 1px solid #3b5999;
}
.tg-socialiconsborder li.tg-twitter a {
	color: #55acee;
	border: 1px solid #55acee;
}
.tg-socialiconsborder li.tg-linkedin a {
	color: #0077B5;
	border: 1px solid #0077B5;
}
.tg-socialiconsborder li.tg-skype a {
	color: #00aff0;
	border: 1px solid #00aff0;
}
.tg-socialiconsborder li.tg-dropbox a {
	color: #007ee5;
	border: 1px solid #007ee5;
}
.tg-socialiconsborder li.tg-vimeo a {
	color: #1ab7ea;
	border: 1px solid #1ab7ea;
}
.tg-socialiconsborder li.tg-tumblr a {
	color: #34465d;
	border: 1px solid #34465d;
}
.tg-socialiconsborder li.tg-yahoo a {
	color: #410093;
	border: 1px solid #410093;
}
.tg-socialiconsborder li.tg-googleplus a {
	color: #dd4b39;
	border: 1px solid #dd4b39;
}
.tg-socialiconsborder li.tg-pinterestp a {
	color: #bd081c;
	border: 1px solid #bd081c;
}
.tg-socialiconsborder li.tg-youtube a {
	color: #cd201f;
	border: 1px solid #cd201f;
}
.tg-socialiconsborder li.tg-stumbleupon a {
	color: #eb4924;
	border: 1px solid #eb4924;
}
.tg-socialiconsborder li.tg-reddit a {
	color: #ff5700;
	border: 1px solid #ff5700;
}
.tg-socialiconsborder li.tg-quora a {
	color: #b92b27;
	border: 1px solid #b92b27;
}
.tg-socialiconsborder li.tg-yelp a {
	color: #af0606;
	border: 1px solid #af0606;
}
.tg-socialiconsborder li.tg-soundcloud a {
	color: #ff3300;
	border: 1px solid #ff3300;
}
.tg-socialiconsborder li.tg-whatsapp a {
	color: #25d366;
	border: 1px solid #25d366;
}
.tg-socialiconsborder li.tg-wechat a {
	color: #09b83e;
	border: 1px solid #09b83e;
}
.tg-socialiconsborder li.tg-instagram a {
	color: #e4405f;
	border: 1px solid #e4405f;
}
.tg-socialiconsborder li.tg-dribbble a {
	color: #ea4c89;
	border: 1px solid #ea4c89;
}
.tg-socialiconsborder li.tg-flickr a {
	color: #ff0084;
	border: 1px solid #ff0084;
}
.tg-socialiconsborder li.tg-rss a {
	color: #ff6600;
	border: 1px solid #ff6600;
}
.tg-socialiconsborder li a{
	background: none;
	line-height: 32px;
}
.tg-socialiconsborder li.tg-facebook a i{ color: #3b5999; }
.tg-socialiconsborder li.tg-twitter a i{ color: #55acee; }
.tg-socialiconsborder li.tg-linkedin a i{ color: #0077B5; }
.tg-socialiconsborder li.tg-skype a i{ color: #00aff0; }
.tg-socialiconsborder li.tg-dropbox a i{ color: #007ee5; }
.tg-socialiconsborder li.tg-vimeo a i{ color: #1ab7ea; }
.tg-socialiconsborder li.tg-tumblr a i{ color: #34465d; }
.tg-socialiconsborder li.tg-yahoo a i{ color: #410093; }
.tg-socialiconsborder li.tg-googleplus a i{ color: #dd4b39; }
.tg-socialiconsborder li.tg-pinterestp a i{ color: #bd081c; }
.tg-socialiconsborder li.tg-youtube a i{ color: #cd201f; }
.tg-socialiconsborder li.tg-stumbleupon a i{ color: #eb4924; }
.tg-socialiconsborder li.tg-reddit a i{ color: #ff5700; }
.tg-socialiconsborder li.tg-quora a i{ color: #b92b27; }
.tg-socialiconsborder li.tg-yelp a i{ color: #af0606; }
.tg-socialiconsborder li.tg-soundcloud a i{ color: #ff3300; }
.tg-socialiconsborder li.tg-whatsapp a i{ color: #25d366; }
.tg-socialiconsborder li.tg-wechat a i{ color: #09b83e; }
.tg-socialiconsborder li.tg-instagram a i{ color: #e4405f; }
.tg-socialiconsborder li.tg-dribbble a i{ color: #ea4c89; }
.tg-socialiconsborder li.tg-flickr a i{ color: #ff0084; }
.tg-socialiconsborder li.tg-rss a i{ color: #ff6600; }
.tg-socialicons li a i {
	color: #fff;
	display:block;
	text-align:center;
	font-size: inherit;
	line-height: inherit;
}
.tg-socialsharewithtext li a i{width: 34px;}
.tg-socialicons li a:hover { color: #fff; }
.tg-roundicontext .tg-usericonholder {
	width: 250px;
	display: block;
	overflow: hidden;
	font-style: normal;
}
.tg-roundicontext i,
.tg-roundicontext span {
	float:left;
	font-size: inherit;
	line-height: inherit;
}
.tg-roundicontext span { padding: 0 15px 0 0; }
.tg-roundicontext:focus,
.tg-roundicontext:hover {
	color: #fff;
	width: 100%;
}
.tg-roundicontext:hover .tg-usericonholder { width: 100%; }
.tg-verticalmiddle {
	margin: 0 -2px;
	float: none !important;
	display: inline-block;
	vertical-align: middle;
}
.tg-description {
	width: 100%;
	float: left;
}
.tg-bglight { background:#f7f7f7; }
.tg-bgdark { background:#373542; }
.tg-bgdarkvtwo{background:#222;}
.tg-stars span,
.tg-stars {
	width:100px;
	height: 16px;
	float: left;
	line-height:16px;
	position:relative;
}
.tg-stars span:after,
.tg-stars:before {
	top: 0;
	left: 0;
	font-size: 16px;
	line-height: 16px;
	position: absolute;
	letter-spacing: 4px;
	font-family: 'FontAwesome';
	color: rgba(218, 218, 218, .8);
	content: '\f005 \f005 \f005 \f005 \f005';
}
.tg-stars span {
	width:75%;
	overflow: hidden;
}
.tg-stars span:after {color:#000;}
.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
}
.no-gutters > [class^="col-"],
.no-gutters > [class*="col-"],
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}
.tg-dropdowarrow{
	top:10px;
	z-index:3;
	right:15px;
	color:#fff;
	width:20px;
	height:20px;
	display:none;
	cursor:pointer;
	font-size:16px;
	line-height:20px;
	position:absolute;
	text-align:center;
}
.tg-dropdowarrow i{
	display: block;
	font-size: inherit;
	line-height: inherit;
}
.tg-open > .tg-dropdowarrow i:before{content: '\f106';}
.menu-item-has-children,
.menu-item-has-mega-menu{ position: relative; }

.mega-menu-row{
	width: 100%;
	float: left;
	display: table;
	table-layout: fixed;
}
.mega-menu-col{
	padding: 30px;
	display: table-cell;
	vertical-align: top;
}
.mega-menu-col:first-child{background: #f9f9f9;}
.navbar-toggle {
	border: 0;
	margin: 3px 0;
	border-radius: 0;
	padding: 10px 12px;
}
.navbar-toggle .icon-bar{
	float:none;
	background: #fff;
}
.tg-formtheme{
	width:100%;
	float:left;
}
.tg-formtheme fieldset{
	border:0;
	margin:0;
	padding:0;
	width:100%;
	float:left;
	position:relative;
}
.tg-inputwithicon{position:relative;}
.tg-inputwithicon i{
	top:0;
	right:0;
	z-index:2;
	width:40px;
	height:40px;
	line-height:40px;
	position:absolute;
	text-align: center;
}
.tg-inputwithicon .form-control{
	z-index:1;
	position:relative;
}
.tg-leftbox{float: left;}
.tg-rightbox{float: right;}
.tg-themeform{
	width: 100%;
	float: left;
}
.tg-themeform fieldset{
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
	position: relative;
}
.tg-bgfixedgetinvolved{background: url(../images/parallax/bgparallax-01.jpg) no-repeat 50% 50% fixed;}
.tg-bgfixedgetinvolvedvtwo{background: url(../images/parallax/bgparallax-12.jpg) no-repeat 50% 50% fixed;}
.tg-bgfixedfloatdonation{background: url(../images/parallax/bgparallax-02.jpg) no-repeat 50% 50% fixed;}
.tg-bgfixedfloatdonationvtwo{background: url(../images/parallax/bgparallax-14.jpg) no-repeat 50% 50% fixed;}
.tg-bgfixedfloatdonationvthree{background: url(../images/parallax/bgparallax-15.jpg) no-repeat 50% 50% fixed;}
.tg-bgfixededucation{background: url(../images/parallax/bgparallax-03.jpg) no-repeat 50% 50% fixed;}
.tg-bgfixedvideo{background: url(../images/parallax/bgparallax-04.jpg) no-repeat 50% 50% fixed;}
.tg-bgfixedvideovtwo{background: url(../images/parallax/bgparallax-06.jpg) no-repeat 50% 50% fixed;}
.tg-bgfixedoursponser{background: url(../images/parallax/bgparallax-13.jpg) no-repeat 50% 50% fixed;}
.tg-bgfixed{
	width: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.tg-bgfixed:before{
	top: 0;
	left: 0;
	z-index: 1;
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,0.60);
}
.tg-bgfixed > div{
	z-index: 2;
	position: relative;
}
.tg-leftalign{
	float: left;
	margin: 0 30px 30px 0;
}
.tg-rightalign{
	float: right;
	margin: 0 0 30px 30px;
}
.tg-leftalign figure,
.tg-rightalign figure{
	margin: 0;
	width: 100%;
	float: left;
}
.tg-liststyedot{
	margin: 0 0 17px;
	font-size: 16px;
	line-height: 20px;
	overflow: hidden;
	list-style: none;
}
.tg-liststyedot li{
	margin: 0 0 6px;
	position: relative;
	padding: 0 0 0 10px;
	line-height: inherit;
	list-style-type: none;
}
.tg-liststyedot li:before{
	top: 50%;
	left: 0;
	width: 4px;
	height: 4px;
	content: '';
	background: #666;
	margin: -2px 0 0;
	border-radius: 50%;
	position: absolute;
}
.tg-description > h3{
	margin: 0 0 25px;
	font-size: 22px;
	font-weight: 900;
	line-height: 26px;
}
.tg-zeropadding{padding: 0 !important;}
.tg-fullwidth{width:100% !important;}
.tg-boxshadowzero{box-shadow:none !important;}
.tg-paddingbottomzero{padding-bottom: 0 !important;}
.tg-paddingtopzero{padding-top: 0 !important;}
.tg-overflowhidden{overflow:hidden;}
/*==========================================================================================
		For Mobile Nav use this code in Responsive.css desired Query
==========================================================================================*/
/*
.navbar-toggle{display: block;}
.navbar-collapse.collapse {display: none!important;}
.collapse.in{display:block !important;}
*/
/*==========================================================================================
			For Mobile Nav use this code in Responsive.css desired Query
==========================================================================================*/
/* =============================================
			Theme Pagination Style				
============================================= */
.tg-pagination{
	width:100%;
	float: left;
	padding: 30px 0 0;
	font:13px/30px 'Work Sans', Arial, Helvetica, sans-serif;
}
.tg-pagination ul{
	margin:0;
	padding:0;
	width: 100%;
	float:left;
	list-style:none;
	line-height: 30px;
	text-align: center;
}
.tg-pagination ul li{
	margin:0 3px;
	width:40px;
	height: 40px;
	line-height: 40px;
	background: #f8f8f8;
	list-style-type:none;
	display: inline-block;
	vertical-align: top;
}
.tg-pagination ul li a{
	width:40px;
	height: 40px;
	color:#484848;
	display:block;
	text-align:center;
	position:relative;
	line-height: 40px;
}
.tg-pagination ul li.tg-nextpage a,
.tg-pagination ul li.tg-prevpage a{
	color: #fff;
	background: #484848;
}
.tg-pagination ul li.tg-nextpage a i,
.tg-pagination ul li.tg-prevpage a i{
	display: block;
	line-height: 40px;
}
.tg-pagination ul li.tg-active a,
.tg-pagination ul li a:hover,
.tg-pagination ul li.tg-nextpage a:hover,
.tg-pagination ul li.tg-prevpage a:hover,
.tg-pagination ul li.tg-nextpage a:hover i,
.tg-pagination ul li.tg-prevpage a:hover i{color: #fff;}
/* =============================================
			Theme BreadCrumb Style				
============================================= */
.tg-breadcrumb {
	color: #fff;
	float: right;
	margin:0 0 -25px;
	list-style: none;
	text-align: right;
	padding: 10px 25px;
	border-radius: 25px;
	text-transform: capitalize;
	-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
			box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
	font: 600 14px/30px , Arial, Helvetica, sans-serif;
}
.tg-breadcrumb li {
	width:auto;
	float: left;
	padding:0 15px;
	position:relative;
	line-height:inherit;
	list-style-type:none;
}
.tg-breadcrumb li:after {
	top:0;
	left:-3px;
	content:'\f105';
	position:absolute;
	font-size: inherit;
	line-height: inherit;
	font-family: 'FontAwesome';
}
.tg-breadcrumb li:first-child{ padding-left: 0; }
.tg-breadcrumb li:last-child { padding-right: 0;}
.tg-breadcrumb li:first-child:after { display: none; }
.tg-breadcrumb li a {
	color:#fff;
	display:block;
}
.tg-breadcrumb li a i{
	display: block;
	font-size: 16px;
	line-height: inherit;
}
/* =============================================
			Theme Styling						
============================================= */
.tg-home {}
.tg-wrapper { overflow: hidden; }
.tg-homeone .tg-main { padding: 20px 50px; }
.tg-main { padding: 100px 0; }
.tg-footer {}